In [37]:
li=[1,2,3,4]
for i in range(len(li)):
    print(li[i],end=" ")
for i in li:
    print(i,end=" ")

1 2 3 4 1 2 3 4

In [ ]:
from turtle import *
bgcolor('green')
color('#2B28F6')
fillcolor('#2B28F6')
penup()
goto(0,0)
begin_fill()
forward(570)
left(90)
forward(80)
left(90)
forward(530)
setheading(60)
#left(90)
forward(80)
end_fill()

pensize(6)
penup()
goto(100,50)
pendown()
setheading(45)
forward(100)
setheading(0)
forward(250)
setheading(-45)
forward(100)
setheading(90)
penup()
goto(300,50)
pendown()
forward(75)

penup()
goto(200,-20)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(40)
end_fill()
penup()
goto(450,-20)
pendown()
color('black')
fillcolor('black')
#begin_fill()
circle(30)
#end_fill()
penup()
goto(460,-20)
pendown()
begin_fill()
circle(40)
end_fill()

In [ ]:
import turtle as t
a=t.Turtle()
a.pencolor('red')
for i in range (50):
    a.forward(i*10)
    a.left(144)
t.done()

In [ ]:
from turtle import *
pensize(3)
pencolor('black')

for i in range (4):
    penup()
    goto(i*70,0)
    pendown()
    circle(45)

In [ ]:
from turtle import *
pensize(3)
r=['blue','yellow','orange']

for i in range (3):
    penup()
    pencolor(r[i%3])
    goto(i*100,0)
    pendown()
    circle(45)
r2=["","red","","green"]
for i in range (1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*45,-55)
    pendown()
    circle(50)

In [ ]:
from turtle import *
pensize(3)
colors=['red','yellow','blue','orange','purple','green']
for i in range (15):
    pencolor(colors[i%6])
    circle(10*i)
    up()
    sety((10*i)*(-1))
    down()

In [ ]:
from turtle import *
pensize(1)
pencolor('blue')
fillcolor('orange')
begin_fill()
circle(100)
end_fill()

In [ ]:
from turtle import *
pensize(3)
pencolor('red')
for i in range (15):
    circle(10*i)

In [ ]:
from turtle import *
pencolor('blue')
colors=['blue','green','red','yellow','purple','orange']
for i in range (360):
    pencolor(colors[i%6])
    width(i/100+1)
    forward(i)
    left(59)

In [ ]:
import turtle as t
a=t.Turtle()
a.pencolor('red')
for i in range (200):
    a.forward(i)
    a.left(91n)
t.done()

In [2]:
for i in (1,2,3,4):
    print(i**2,end=" ")
for i in range (6):
    print(i**2,end=" ")

1 4 9 16 0 1 4 9 16 25

In [3]:
for i in range(len(li)-1,-1,-1):
    print(li[i],end=" ")
for i in reversed (li):
    print(i,end=" ")

4 3 2 1 4 3 2 1

In [4]:
li=[1,3,4,5,6]
for i in range (len(li)):
    print(i,'-->',li[i])
for i,a in enumerate (li):
    print(i,'-->',a)

0 --> 1
1 --> 3
2 --> 4
3 --> 5
4 --> 6
0 --> 1
1 --> 3
2 --> 4
3 --> 5
4 --> 6

In [5]:
a=[1,3,4,6]
n=min(len(li),len(a))
for i in range(n):
    print(li[i],' ',a[i])
print()
for i,a  in zip (li,a):
    
    print (i," " ,a)

1   1
3   3
4   4
5   6

1   1
3   3
4   4
5   6

In [6]:
for i in sorted (li):
    print(i,end=" ")
print()
for i in sorted (li,reverse=True):
    print(i,end=" ")

1 3 4 5 6
6 5 4 3 1

In [7]:
d={'name':'gitam','email':'wertyuio','qwert':'asdfghjk'}
for k in d:
    print(k,end=' ')
print()

name email qwert

In [8]:
for k in d.keys():
    if k.startswith('q'):
        del d[k]

RuntimeError: dictionary changed size during iteration

In [ ]:
print(d)

In [ ]:
for k in d.values():
    print(k,end=' ')

In [ ]:
li=[]
for i in range (10):
    a=i**2
    li.append(a)
print(sum(li))
print()
print(sum(i**2 for i in range(10)))

In [ ]:
li=[]
for i in range (10):
    a=i**2
    li.append(a)
print(li)
c=[i**2 for i in range(10)]
print(c)

In [ ]:
#lambda functions
def square(n):
    return n*n
square(10)

In [ ]:
a=lambda x:x*x
print(a(10))

In [ ]:
#use labda with filter
def filterList(li):
    a=[]
    for i in li:
        if i%2==0:
            a.append(i)
    return a
li=[1,2,3,4,5,6]
filterList(li)

In [ ]:
li=[1,2,3,4,5,6,7,8]
lam_li=list(filter(lambda x:(x%2==0),li))
print(lam_li)

In [ ]:
li=[1,23,3,4,9,6,7]
def squarelist(li):
    a=[]
    for i in li:
        a.append(i*2)
    return a
squarelist(li)

In [ ]:
map_list=list(map(lambda x:x*2,li))
print(map_list)

In [ ]:
def sumlist(li):
    s=0
    for i in li:
        print(i)
        s+=i
    return s
sumlist(li)

In [ ]:
from functools import reduce
s=reduce((lambda x,y:x+y),li)
print(s)

In [22]:
#standard package
import pandas as pd
internal1={ 's1':35,'s2':35,'s3':35}
internal2={ 's1':35,'s2':45,'s3':45}
#i3={ 's1':35,'s2':45,'s3':56}
internal1= pd.Series(internal1)
internal2=pd.Series(internal2)
print(internal1)
print(internal2)

s1    35
s2    35
s3    35
dtype: int64
s1    35
s2    45
s3    45
dtype: int64

In [24]:
final={'internal1':internal1,'internal2':internal2}
final=pd.DataFrame(final)
print(final)

    internal1  internal2
s1         35         35
s2         35         45
s3         35         45

In [16]:
l1={ 's1':5,'s2':3,'s3':35}
l={'internal1':l1}
l=pd.DataFrame(l)
print(l)

    internal1
s1          5
s2          3
s3         35

In [17]:
final.columns

Index(['internal1', 'internal2'], dtype='object')

In [25]:
final.values

array([[35, 35],
       [35, 45],
       [35, 45]], dtype=int64)

In [29]:
final.values[0]

array([35, 35], dtype=int64)

In [30]:
final.values[1][0]=55

In [31]:
final.values

array([[35, 35],
       [55, 45],
       [35, 45]], dtype=int64)

In [32]:
for row in final.values:
    print('internal1-',row[0],'internal2',row[1])

internal1- 35 internal2 35
internal1- 55 internal2 45
internal1- 35 internal2 45

In [36]:
final.loc['s4']=[24,88]
final

    internal1  internal2
s1         35         35
s2         55         45
s3         35         45
s4         24         88

In [38]:
final.values[2]=[56,11]
print(final)

    internal1  internal2
s1         35         35
s2         55         45
s3         56         11
s4         24         88

In [39]:
pwd

'C:\\Users\\Rohith Reddy\\Desktop\\problem solving and programming'

In [79]:
filepath='datafiles/income.csv'
def readCsvdata(filepath):
    return pd.read_csv(filepath)
readCsvdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [80]:
df = readCsvdata("datafiles/income.csv")
for row in df.values:
    print(row[1],':',row[-4])

Alabama : 40933
Alaska : 57848
Arizona : 46896
Arkansas : 38587
California : 54283

In [49]:
print(df.values)

[['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
  41381]
 ['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
  61137]
 ['04000US04' 'Arizona' 45245 46657 62993 46914 45739 46896 48621 47044
  50602]
 ['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
  39919]
 ['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367
  57020 57528]]

In [54]:
def avgofstate():
    s=0
    for i in range(2,11):
        s+=df.values[4][i]
    return s//len(df.values[4][2:])
avgofstate()

55350

In [57]:
def prdafrcol(df):
    li=[]
    columns=df.columns
    for i in columns:
        li.append(i)
    return li
prdafrcol(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [76]:
filepath='datafiles/RegularSeasonCompactResults.csv'
def readCsvdata(filepath):
    return pd.read_csv(filepath)
readCsvdata(filepath)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [83]:
df=readCsvdata("datafiles/RegularSeasonCompactResults.csv")
df.shape

(145289, 8)

In [85]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [86]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [87]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [89]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

In [90]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

In [94]:
df['Lteam'].max()

1464

In [95]:
df['Lteam'].min()

1101

In [97]:
df['Lteam'].sum()

186386037

In [104]:
df['Season'].value_counts()

2016    5369
2014    5362
2015    5354
2013    5320
2010    5263
2012    5253
2009    5249
2011    5246
2008    5163
2007    5043
2006    4757
2005    4675
2003    4616
2004    4571
2002    4555
2000    4519
2001    4467
1999    4222
1998    4167
1997    4155
1992    4127
1991    4123
1996    4122
1995    4077
1994    4060
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
Name: Season, dtype: int64

In [105]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

In [106]:
df.sort_values('Lscore').tail()

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
77873    2003     110   1383     142   1254     140    H      2
24970    1991      68   1258     186   1109     140    H      0
22074    1990      96   1261     148   1258     141    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0

In [107]:
 list(map((lambda x:x**2), filter((lambda x:x%2==0), range(10))))

[0, 4, 16, 36, 64]

In [108]:
 print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [109]:
random.randint(3.5,7)

NameError: name 'random' is not defined